### BOW 기반의 카운트 벡터 생성

In [6]:
import nltk
nltk.download('movie_reviews')
nltk.download('punkt')

[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\sususu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\movie_reviews.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sususu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
from nltk.corpus import movie_reviews

print('#review count:', len(movie_reviews.fileids())) #영화 리뷰 문서의 id를 반환
print('#samples of file ids:', movie_reviews.fileids()[:10]) #id를 10개까지만 출력
print('#categories of reviews:', movie_reviews.categories()) # label, 즉 긍정인지 부정인지에 대한 분류
print('#num of "neg" reviews:', len(movie_reviews.fileids(categories='neg'))) #label이 부정인 문서들의 id를 반환
print('#num of "pos" reviews:', len(movie_reviews.fileids(categories='pos'))) #label이 긍정인 문서들의 id를 반환
fileid = movie_reviews.fileids()[0] #첫번째 문서의 id를 반환
print('#id of the first review:', fileid)
print('#first review content:\n', movie_reviews.raw(fileid)[:200]) #첫번째 문서의 내용을 200자까지만 출력
print()
print('#sentence tokenization result:', movie_reviews.sents(fileid)[:2]) #첫번째 문서를 sentence tokenize한 결과 중 앞 두 문장
print('#word tokenization result:', movie_reviews.words(fileid)[:20]) #첫번째 문서를 word tokenize한 결과 중 앞 스무 단어

#review count: 2000
#samples of file ids: ['neg/cv000_29416.txt', 'neg/cv001_19502.txt', 'neg/cv002_17424.txt', 'neg/cv003_12683.txt', 'neg/cv004_12641.txt', 'neg/cv005_29357.txt', 'neg/cv006_17022.txt', 'neg/cv007_4992.txt', 'neg/cv008_29326.txt', 'neg/cv009_29417.txt']
#categories of reviews: ['neg', 'pos']
#num of "neg" reviews: 1000
#num of "pos" reviews: 1000
#id of the first review: neg/cv000_29416.txt
#first review content:
 plot : two teen couples go to a church party , drink and then drive .
they get into an accident .
one of the guys dies , but his girlfriend continues to see him in her life , and has nightmares .
w

#sentence tokenization result: [['plot', ':', 'two', 'teen', 'couples', 'go', 'to', 'a', 'church', 'party', ',', 'drink', 'and', 'then', 'drive', '.'], ['they', 'get', 'into', 'an', 'accident', '.']]
#word tokenization result: ['plot', ':', 'two', 'teen', 'couples', 'go', 'to', 'a', 'church', 'party', ',', 'drink', 'and', 'then', 'drive', '.', 'they', 'get', 'into', 'an']

### 단어 별 카운트

In [17]:
#문법 참고#

test_list=[1,2,3]
print([ele for ele in test_list])
print([ele+1 for ele in test_list])

[1, 2, 3]
[2, 3, 4]

In [27]:
documents = [list(movie_reviews.words(fileid)) for fileid in movie_reviews.fileids()]#모든 리뷰 2000개에 대하여 word tokenize 
print(documents[0][:50]) #첫째 문서의 앞 50개 단어를 출력

['plot', ':', 'two', 'teen', 'couples', 'go', 'to', 'a', 'church', 'party', ',', 'drink', 'and', 'then', 'drive', '.', 'they', 'get', 'into', 'an', 'accident', '.', 'one', 'of', 'the', 'guys', 'dies', ',', 'but', 'his', 'girlfriend', 'continues', 'to', 'see', 'him', 'in', 'her', 'life', ',', 'and', 'has', 'nightmares', '.', 'what', "'", 's', 'the', 'deal', '?', 'watch']

In [ ]:
#문법 참고#

dictionary.get(keyname, value)
keyname: Required. The keyname of the item you want to return the value from
value: Optional. A value to return if the specified key does not exist. Default value None

In [22]:
word_count = {}
for text in documents:
    for word in text:
        word_count[word] = word_count.get(word, 0) + 1

sorted_features = sorted(word_count, key=word_count.get, reverse=True)
for word in sorted_features[:10]:
    print(f"count of '{word}': {word_count[word]}", end=', ')

count of ',': 77717, count of 'the': 76529, count of '.': 65876, count of 'a': 38106, count of 'and': 35576, count of 'of': 34123, count of 'to': 31937, count of ''': 30585, count of 'is': 25195, count of 'in': 21822,

### 불용어 제거

In [28]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords #일반적으로 분석대상이 아닌 단어들

tokenizer = RegexpTokenizer("[\w']{3,}") # 정규포현식으로 토크나이저를 정의
english_stops = set(stopwords.words('english')) #영어 불용어를 가져옴

#words() 대신 raw()를 이용해 원문을 가져옴
documents = [movie_reviews.raw(fileid) for fileid in movie_reviews.fileids()] 

# stopwords의 적용과 토큰화를 동시에 수행.
tokens = [[token for token in tokenizer.tokenize(doc) if token not in english_stops] for doc in documents]

word_count = {}
for text in tokens:
    for word in text:
        word_count[word] = word_count.get(word, 0) + 1

sorted_features = sorted(word_count, key=word_count.get, reverse=True)

print('num of features:', len(sorted_features))
for word in sorted_features[:10]:
    print(f"count of '{word}': {word_count[word]}", end=', ')

num of features: 43030
count of 'film': 8935, count of 'one': 5791, count of 'movie': 5538, count of 'like': 3690, count of 'even': 2564, count of 'time': 2409, count of 'good': 2407, count of 'story': 2136, count of 'would': 2084, count of 'much': 2049,

In [29]:
word_features = sorted_features[:1000] #빈도가 높은 상위 1000개의 단어만 추출하여 features를 구성

### DTM 구성하기

In [31]:
def document_features(document, word_features):
    word_count = {}
    for word in document: #document에 있는 단어들에 대해 빈도수를 먼저 계산
        word_count[word] = word_count.get(word, 0) + 1
        
    features = []
    for word in word_features: #word_features의 단어에 대해 계산된 빈도수를 feature에 추가
        features.append(word_count.get(word, 0)) #빈도가 없는 단어는 0을 입력
    return features

word_features_ex = ['one', 'two', 'teen', 'couples', 'solo']
doc_ex = ['two', 'two', 'couples']
print(document_features(doc_ex, word_features_ex))

[0, 2, 0, 1, 0]

In [32]:
feature_sets = [document_features(d, word_features) for d in tokens]

In [60]:
import pandas as pd
pd.DataFrame(feature_sets,columns=word_features)

,film,one,movie,like,even,time,good,story,would,much,...,directing,mike,leading,ground,lies,forget,alive,baby,vampire,conclusion
0,5,3,6,3,3,0,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,5,3,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,8,5,2,4,4,1,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
3,1,2,0,1,2,1,1,1,0,3,...,0,0,0,0,0,0,0,0,0,0
4,2,3,2,1,4,2,1,3,0,2,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,4,5,14,4,1,4,4,0,0,1,...,2,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,2,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,7,5,4,4,3,2,0,2,0,3,...,0,0,1,1,0,0,0,0,0,0
1998,14,4,2,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,8,4,7,6,1,0,0,3,3,1,...,0,0,0,0,0,0,0,0,0,0

### 사이킷런을 이용한 카운트 벡터 생성
http://scikit-learn.org/stable/modules/feature_extraction.html#text-feature-extraction

In [48]:
 from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
corpus = ['This is the first document.','This is the second second document.','And the third one.','Is this the first document?']
X = vectorizer.fit_transform(corpus)

print(vectorizer.get_feature_names())
print(X.toarray())
pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
[[0 1 1 1 0 0 1 0 1]
 [0 1 0 1 0 2 1 0 1]
 [1 0 0 0 1 0 1 1 0]
 [0 1 1 1 0 0 1 0 1]]

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         1      0   1    0       2    1      0     1
2    1         0      0   0    1       0    1      1     0
3    0         1      1   1    0       0    1      0     1

In [50]:
# data 준비, movie_reviews.raw()를 사용하여 raw text를 추출
reviews = [movie_reviews.raw(fileid) for fileid in movie_reviews.fileids()]

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

#cv = CountVectorizer() #모든 매개변수에 디폴트 값을 사용하는 경우

#앞에서 생성한 word_features를 이용하여 특성 집합을 지정하는 경우
cv = CountVectorizer(vocabulary=word_features) 

#cv = CountVectorizer(max_features=1000) #특성 집합을 지정하지 않고 최대 특성의 수를 지정하는 경우
print(cv) #객체에 사용된 인수들을 확인

reviews_cv = cv.fit_transform(reviews)

CountVectorizer(vocabulary=['film', 'one', 'movie', 'like', 'even', 'time',
                            'good', 'story', 'would', 'much', 'also', 'get',
                            'character', 'two', 'well', 'first', 'characters',
                            'see', 'way', 'make', 'life', 'really', 'films',
                            'plot', 'little', 'people', 'could', 'bad', 'scene',
                            'never', ...])

In [57]:
print(cv.get_feature_names()[0:20]) 
print(reviews_cv.toarray())
pd.DataFrame(reviews_cv.toarray(), columns=cv.get_feature_names())

['film', 'one', 'movie', 'like', 'even', 'time', 'good', 'story', 'would', 'much', 'also', 'get', 'character', 'two', 'well', 'first', 'characters', 'see', 'way', 'make']
[[ 6  3  6 ...  0  0  0]
 [ 0  0  5 ...  0  0  0]
 [ 8  5  2 ...  0  0  0]
 ...
 [ 8  5  5 ...  0  0  0]
 [15  4  3 ...  0  0  0]
 [ 9  5  8 ...  0  0  0]]

,film,one,movie,like,even,time,good,story,would,much,...,directing,mike,leading,ground,lies,forget,alive,baby,vampire,conclusion
0,6,3,6,3,3,0,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,5,3,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,8,5,2,4,4,1,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
3,1,2,0,1,2,1,1,1,0,3,...,0,0,0,0,0,0,0,0,0,0
4,2,3,2,1,4,2,1,3,0,2,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,4,5,14,4,1,4,4,0,0,1,...,2,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,2,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,8,5,5,4,3,2,0,2,0,3,...,0,0,1,1,0,0,0,0,0,0
1998,15,4,3,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,9,5,8,6,1,0,0,3,3,1,...,0,0,0,0,0,0,0,0,0,0

### TF-IDF

In [61]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
transformer

reviews_tfidf = transformer.fit_transform(reviews_cv)
print('#shape of tfidf matrix:', reviews_tfidf.shape) #TF-IDF 행렬의 모양과 카운트 행렬의 모양이 일치하는 것을 확인

#shape of tfidf matrix: (2000, 1000)

In [66]:
tfidf_df=pd.DataFrame(reviews_tfidf.toarray(), columns=cv.get_feature_names())
tfidf_df

,film,one,movie,like,even,time,good,story,would,much,...,directing,mike,leading,ground,lies,forget,alive,baby,vampire,conclusion
0,0.135562,0.067001,0.149986,0.077230,0.086090,0.000000,0.060912,0.000000,0.031266,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.000000,0.000000,0.218720,0.135146,0.050217,0.051121,0.053296,0.056511,0.000000,0.054620,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.201298,0.124363,0.055679,0.114680,0.127836,0.032534,0.000000,0.000000,0.034820,0.069523,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.032827,0.064898,0.000000,0.037403,0.083388,0.042445,0.044251,0.046920,0.000000,0.136050,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.047912,0.071040,0.053010,0.027295,0.121708,0.061949,0.032293,0.102721,0.000000,0.066190,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.081815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.071573,0.088437,0.277162,0.081551,0.022727,0.092543,0.096481,0.000000,0.000000,0.024719,...,0.123064,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1996,0.000000,0.000000,0.000000,0.000000,0.108526,0.055240,0.000000,0.122128,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1997,0.115575,0.071403,0.079921,0.065843,0.055048,0.037359,0.000000,0.041298,0.000000,0.059875,...,0.000000,0.0,0.049452,0.049452,0.0,0.0,0.0,0.0,0.0,0.000000
1998,0.294947,0.077747,0.065266,0.000000,0.024975,0.025424,0.026506,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1999,0.083333,0.045763,0.081956,0.063300,0.011760,0.000000,0.000000,0.039703,0.038439,0.012792,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000

In [82]:
max_val_df=pd.DataFrame(tfidf_df.max(axis=0),columns=['max_val'])
max_val_df

             max_val
film        0.447841
one         0.298459
movie       0.484862
like        0.284107
even        0.224906
...              ...
forget      0.343622
alive       0.272904
baby        0.770066
vampire     0.849555
conclusion  0.218952

[1000 rows x 1 columns]

In [80]:
max_val_df.sort_values(by=['max_val'],ascending=False)[:50].index #TF-IDF 값 상위 50개 단어

Index(['murphy', 'jackie', 'eddie', 'scream', 'godzilla', 'harry', 'truman',
       'carter', 'trek', 'joe', 'smith', 'woody', 'vampire', 'dog', 'alien',
       'king', 'batman', 'bond', 'mike', 'oscar', 'mars', 'giant', 'baby',
       'max', 'allen', 'computer', 'jim', 'dead', 'evil', 'west', 'sam',
       'wedding', 'deep', 'girls', 'steven', 'family', 'van', 'beautiful',
       'nick', 'bob', 'red', 'titanic', 'bruce', 'television', 'disney',
       'classic', 'planet', 'stories', 'run', 'seven'],
      dtype='object')

In [81]:
max_val_df.sort_values(by=['max_val'])[:50].index  #TF-IDF 값 하위 50개 단어

Index(['they're', 'i'll', 'year's', 'let's', 'i've', 'can't', 'film's', 'i'm',
       'who's', 'movie's', 'there's', 'that's', 'what's', 'we're', 'he's',
       'i'd', 'understand', 'purpose', 'proves', 'neither', 'interest',
       'especially', 'experience', 'keeps', 'meanwhile', 'front', 'lines',
       'opens', 'already', 'left', 'begin', 'easily', 'nearly', 'directed',
       'anyone', 'ultimately', 'caught', 'focus', 'sounds', 'hilarious',
       'outside', 'bring', 'modern', 'ones', 'ridiculous', 'anyway', 'brings',
       'comes', 'possibly', 'whatever'],
      dtype='object')