1. Generating association rules from frequent itemsets

In [49]:
#예제 데이터 생성

dataset=([['빵','우유'],['빵','기저귀','맥주','계란']
               ,['우유','기저귀','맥주','콜라'],['빵','우유','기저귀','맥주']
               , ['빵','우유','기저귀','콜라']])

In [25]:
import pandas as pd
pd.DataFrame(data,columns={'itemset'})

             itemset
0            [빵, 우유]
1   [빵, 기저귀, 맥주, 계란]
2  [우유, 기저귀, 맥주, 콜라]
3   [빵, 우유, 기저귀, 맥주]
4   [빵, 우유, 기저귀, 콜라]

In [26]:
#!pip install mlxtend

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpgrowth

In [35]:
#데이터 셋 변환 

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

      계란    기저귀     맥주      빵     우유     콜라
0  False  False  False   True   True  False
1   True   True   True   True  False  False
2  False   True   True  False   True   True
3  False   True   True   True   True  False
4  False   True  False   True   True   True

In [33]:
#FP-Growth 알고리즘

fpg_frequent_itemsets = fpgrowth(df, min_support=0.5, use_colnames=True)
fpg_frequent_itemsets

   support   itemsets
0      0.8       (우유)
1      0.8        (빵)
2      0.8      (기저귀)
3      0.6       (맥주)
4      0.6    (빵, 우유)
5      0.6   (기저귀, 빵)
6      0.6  (기저귀, 우유)
7      0.6  (기저귀, 맥주)

In [32]:
#Apriori 알고리즘

apr_frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
apr_frequent_itemsets

   support   itemsets
0      0.8      (기저귀)
1      0.6       (맥주)
2      0.8        (빵)
3      0.8       (우유)
4      0.6  (기저귀, 맥주)
5      0.6   (기저귀, 빵)
6      0.6  (기저귀, 우유)
7      0.6    (빵, 우유)

2. Rule generation and selection criteria

In [47]:
#연관규칙 생성

from mlxtend.frequent_patterns import association_rules
rules =association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(빵),(우유),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(우유),(빵),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(기저귀),(빵),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(빵),(기저귀),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
4,(기저귀),(우유),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
5,(우유),(기저귀),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
6,(기저귀),(맥주),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
7,(맥주),(기저귀),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [48]:
#흥미 규칙 필터링

rules[ (rules['confidence'] > 0.7) & (rules['lift'] > 1.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
6,(기저귀),(맥주),0.8,0.6,0.6,0.75,1.25,0.12,1.6
7,(맥주),(기저귀),0.6,0.8,0.6,1.00,1.25,0.12,inf